{% extends 'base.html' %}
{% load static i18n l10n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% block content %}
    <main class="page__main">
        <section class="section section--fluid section--top">
            <div class="section__container">
                <div class="section__row">
                    <div class="section__header">
                        <h1 class="main-title">{{ advice_main.advice }}</h1>
                        <div class="section__text">
                            <!-- Здесь можно размещать текстовый контент -->
                        </div>
                    </div>
                    <div class="section__col">
                        <div class="catalog-list">
                            <div class="catalog-list__row">
                                {% for item in advice_pages %}
                                    <div class="catalog-list__col">
                                        <div class="c-card c-card--model c-card--article">
                                            <a class="c-card__img-wrap" href="{{ item.get_absolute_url }}">
                                                <div class="c-card__img-ratio">
                                                    {% if item.main_photo_xs2x %}
                                                        <picture>
                                                            <source media="(min-width: 1700px)" srcset="{{ item.main_photo_xxl.url }} 1x, {{ item.main_photo_xxl2x.url }}  2x">
                                                            <img class="c-card__img" src="{{ item.main_photo_xs.url }}" srcset="{{ item.main_photo_xs2x.url }} 2x" width="728"
                                                                 height="546" alt="">
                                                        </picture>
                                                    {% endif %}
                                                </div>
                                            </a>
                                            <div class="c-card__content">
                                                <h3 class="c-card__title">
                                                    <a class="c-card__title-link" href="{{ item.get_absolute_url }}">{{ item.name }}</a>
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    </div>
{% endblock %}