{% extends 'base.html' %}
{% load static i18n l10n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% block content %}
			<main class="page__main">
				<div class="breadcrumbs">
					<div class="breadcrumbs__container">
						<div class="breadcrumbs__row">
							<div class="breadcrumbs__col">
							</div>
						</div>
					</div>
				</div>
				<section class="section section--fluid section--no-padding">
					<div class="section__container">
						<div class="section__row">
							<div class="section__col">
								<div class="article">
									<div class="article__row">
										<div class="article__col">
											<div class="article__header">
												<h1 class="article__title main-title">{{ advice_pages.name }}</h1>
												<div class="article__text">
													{% autoescape off %} {{ advice_pages.intro_text }} {% endautoescape %}
												</div>
											</div>
											<div class="article__content-wrap">
												<div class="article__block">
                                                {% if blocks.name %}
													<div class="article__content style-content style-content--small">
														<h2>{{ blocks.name }}</h2>
													</div>
                                                    {% endif %}
													<div class="article__video">
														<div class="article__video-row">
															<div class="article__video-col">
                                                                {% if blocks.video_link %}
																<div class='embed-container'>
																	<iframe src="{{ i.video_link }}" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
																</div>
                                                                    {% endif %}
															</div>
														</div>
													</div>
                                                {% if blocks.bottom_text %}
													<div class="article__content style-content style-content--small">
														{% autoescape off %} {{ blocks.bottom_text }} {% endautoescape %}
													</div>
                                                {% endif %}
												</div>
												<div class="article__block">
													<div class="article__content style-content style-content--small">
{#														{% if blocks.name %}<h2>{{ blocks.name }}</h2>{% endif %}#}
														<ol>
															<li>
                                                                {% if blocks.title_paragraph1 %}
                                                                    <h4>{{ blocks.title_paragraph1 }}</h4>
                                                                {% endif %}
                                                            {% if blocks.text_paragraph1 %}
                                                                {% autoescape off %} {{ blocks.text_paragraph1 }} {% endautoescape %}
                                                            {% endif %}
															</li>
															<li>
                                                            {% if blocks.title_paragraph2 %}
                                                                <h4>{{ blocks.title_paragraph2 }}</h4>
                                                            {% endif %}
                                                            {% if blocks.text_paragraph2 %}
																{% autoescape off %} {{ blocks.text_paragraph2 }} {% endautoescape %}
                                                            {% endif %}
															</li>
															<li>
                                                            {% if blocks.title_paragraph3 %}
                                                                <h4>{{ blocks.title_paragraph3 }}</h4>
                                                            {% endif %}
                                                            {% if blocks.text_paragraph3 %}
																{% autoescape off %} {{ blocks.text_paragraph3 }} {% endautoescape %}
                                                            {% endif %}
															</li>
														</ol>
													</div>
												</div>
												<div class="article__block">
													<div class="article__content style-content style-content--small">
{#														{% if blocks.name %}<h2>{{ blocks.name }}</h2>{% endif %}#}
                                                    {% if blocks.top_text %}
                                                        {% autoescape off %} {{ blocks.top_text }} {% endautoescape %}
                                                    {% endif %}

														<img src="{% if blocks.image %}{{ blocks.image.url }}{% endif %}" alt="">
                                                    {% if blocks.bottom_text %}
                                                    {% autoescape off %} {{ blocks.bottom_text }} {% endautoescape %}
                                                    {% endif %}

													</div>
												</div>
												<div class="article__block">
													<div class="article__content style-content style-content--small">
{#														<h2>Порядок сборки</h2>#}
													</div>
													<div class="article__slider">
														<div class="article__slider-row">
															<div class="article__slider-col">
																<div class="slider-wrapper slider-wrapper--article">
																	<div class="g-slider swiper-container js-g-slider">
																		<div class="g-slider__wrapper swiper-wrapper">
																			<div class="g-slider__item swiper-slide">
																				<a class="g-slider__img-wrap" href="{% if blocks.image %}{{ blocks.image.url }}{% endif %}" data-fancybox="gallery">
																					<div class="g-slider__img-ratio">
																						<picture>
																							<source media="(min-width: 1700px)" srcset="{% if blocks.image_xxl.url %}{{ blocks.image_xxl.url }}{% endif %} 1x, {% if blocks.image_xxl2x %}{{ blocks.image_xxl2x.url }}{% endif %} 2x">
																							<img class="g-slider__img" src="{% if blocks.image_xs.url %}{{ blocks.image_xs.url }}{% endif %}" srcset="{% if blocks.image_xs2x %}{{ blocks.image_xs2x.url }}{% endif %} 2x" width="768" height="576" alt="">
																						</picture>
																					</div>
																				</a>
																			</div>

																		</div>
																		<div class="g-slider__btn-prev swiper-button-prev js-g-slider-btn-prev"></div>
																		<div class="g-slider__btn-next swiper-button-next js-g-slider-btn-next"></div>
																		<div class="g-slider__pagination swiper-pagination js-g-slider-pagination"></div>
																	</div>
																	<div class="g-slider-thumbs swiper-container js-g-slider-thumbs">
																		<div class="g-slider-thumbs__wrapper swiper-wrapper">
																			<div class="g-slider-thumbs__item swiper-slide">
																				<div class="g-slider-thumbs__img-wrap">
																					<picture>
																						<img class="g-slider-thumbs__img" src="{% if blocks.slide_picture_1 %}{{ blocks.slide_picture_1.url }}{% endif %}" srcset="{% if blocks.slide_picture_1 %}{{ blocks.slide_picture_1.url }} {% endif %}2x" width="144" height="144" alt="">
																					</picture>
																				</div>
																			</div>
																			<div class="g-slider-thumbs__item swiper-slide">
																				<div class="g-slider-thumbs__img-wrap">
																					<picture>
																						<img class="g-slider-thumbs__img" src="{% if blocks.slide_picture_2 %}{{ blocks.slide_picture_2.url }}{% endif %}" srcset="{% if blocks.slide_picture_2 %}{{ blocks.slide_picture_2.url }} {% endif %} 2x" width="144" height="144" alt="">
																					</picture>
																				</div>
																			</div>
																			<div class="g-slider-thumbs__item swiper-slide">
																				<div class="g-slider-thumbs__img-wrap">
																					<picture>
                                                                                        <img class="g-slider-thumbs__img" src="{% if blocks.slide_picture_3 %}{{ j.slide_picture_3.url }}{% endif %}" srcset="{% if blocks.slide_picture_3 %}{{ blocks.slide_picture_3.url }} {% endif %} 2x" width="144" height="144" alt="">
																					</picture>
																				</div>
																			</div>
																			<div class="g-slider-thumbs__item swiper-slide">
																				<div class="g-slider-thumbs__img-wrap">
																					<picture>
                                                                                        <img class="g-slider-thumbs__img" src="{% if blocks.slide_picture_4 %}{{ blocks.slide_picture_4.url }}{% endif %}" srcset="{% if blocks.slide_picture_4 %}{{ blocks.slide_picture_4.url }} {% endif %} 2x" width="144" height="144" alt="">
																					</picture>
																				</div>
																			</div>
																			<div class="g-slider-thumbs__item swiper-slide">
																				<div class="g-slider-thumbs__img-wrap">
																					<picture>
                                                                                        <img class="g-slider-thumbs__img" src="{% if blocks.slide_picture_5 %}{{ blocks.slide_picture_5.url }}{% endif %}" srcset="{% if blocks.slide_picture_5 %}{{ blocks.slide_picture_5.url }} {% endif %} 2x" width="144" height="144" alt="">
																					</picture>
																				</div>
																			</div>
																			<div class="g-slider-thumbs__item swiper-slide">
																				<div class="g-slider-thumbs__img-wrap">
																					<picture>
                                                                                        <img class="g-slider-thumbs__img" src="{% if blocks.slide_picture_6 %}{{ blocks.slide_picture_6.url }}{% endif %}" srcset="{% if blocks.slide_picture_6 %}{{ blocks.slide_picture_6.url }} {% endif %} 2x" width="144" height="144" alt="">
																					</picture>
																				</div>
																			</div>
																			<div class="g-slider-thumbs__item swiper-slide">
																				<div class="g-slider-thumbs__img-wrap">
																					<picture>
                                                                                        <img class="g-slider-thumbs__img" src="{% if blocks.slide_picture_7 %}{{ blocks.slide_picture_7.url }}{% endif %}" srcset="{% if blocks.slide_picture_7 %}{{ blocks.slide_picture_7.url }} {% endif %} 2x" width="144" height="144" alt="">
																					</picture>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>

													<div class="article__content style-content style-content--small">
														<ol>
															<li>
                                                                {% if blocks.title_paragraph1 %}<h4>{{ blocks.title_paragraph1 }}</h4>{% endif %}
                                                                {% if blocks.text_paragraph1 %}{% autoescape off %} {{ blocks.text_paragraph1 }} {% endautoescape %}{% endif %}
															</li>
															<li>
                                                               {% if blocks.title_paragraph2 %} <h4>{{ blocks.title_paragraph2 }}</h4>{% endif %}
																{% if blocks.text_paragraph2 %}{% autoescape off %} {{ blocks.text_paragraph2 }} {% endautoescape %}{% endif %}
															</li>
															<li>
                                                                {% if blocks.title_paragraph3 %}<h4>{{ blocks.title_paragraph3 }}</h4>{% endif %}
                                                               {% if blocks.text_paragraph3 %} {% autoescape off %} {{ blocks.text_paragraph3 }} {% endautoescape %}{% endif %}

															</li>
														</ol>
													</div>

												</div>

												<div class="article__block">
													<div class="article__content style-content style-content--small">
														<h2>Итог</h2>
														<p>В&nbsp;наши наборы для склейки входит клей, произведённый специально по&nbsp;нашему заказу. Он&nbsp;схватывает менее чем за&nbsp;10&nbsp;секунд, но&nbsp;этого времени достаточно для корректировки стыка. Время схватывания играет большую роль, потому что на&nbsp;одной модели около 120 мест склейки. Наш клей легко смывается водой с&nbsp;рук. Прозрачный после высыхания. Обратите внимание, что большинство клеев ПВА не&nbsp;подходят для этой деятельности, они долго сохнут и&nbsp;деформируют бумагу. При покупке файлов рекомендуем использовать для сборки резиновый клей, универсальный суперклей Момент, клей для обойных стыков, UHU Twist &amp;&nbsp;Glue или клей Момент Кристалл.</p>
													</div>
													<div class="article__video">
														<div class="article__video-row">
															<div class="article__video-col">
																<a class="video-preview" href="https://player.vimeo.com/video/290165112" data-fancybox>
																	<div class="video-preview__img-wrap">
																		<div class="video-preview__img-ratio">
																			<picture>
																				<img class="video-preview__img" src="{% static 'img/video-preview-img-01--xs.jpg' %}" srcset="{% static 'img/video-preview-img-01--xs@2x.jpg' %} 2x" alt="">
																			</picture>
																		</div>
																	</div>
																</a>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</main>
		</div>
	{% endblock %}