{% extends 'base.html' %}
{% load static i18n l10n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% load price_space %}
{% block content %}
    <main class="page__main">
        <h1 class="visuallyhidden">Каталог</h1>
        <section class="section section--top">
            <div class="section__container">
                <div class="section__row">
                    <div class="section__col">
                        <div class="c-filter">
                            <div class="c-filter__row">
                                <div class="c-filter__products">
                                    <div class="tabs js-tabs">
                                        <div class="tabs__select">
                                            <select class="tabs-select form-select c-filter__tabs-select js-form-select" onchange="if (this.value) window.location.href=this.value">
                                                {% for category in categories %}
                                                    {% if category.is_active %}
                                                        <option value="{{ category.get_absolute_url }}" {% if category.slug in request.path %}selected{% endif %}>{{ category.name }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="tabs__list">
                                            <ul class="tabs-list c-filter__tabs-list">
                                                {% for category in categories %}
                                                    {% if category.is_active %}
                                                        <li class="tabs-list__item {% if category.slug in request.path %}tabs-list__item--active{% endif %}">
                                                            <a class="tabs-list__link" href="{{ category.get_absolute_url }}">{{ category.name }}</a>
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="c-filter__row">
                                <div class="c-filter__types">
                                    <ul class="filter-list">
                                        <li class="filter-list__item">
                                            <a class="filter-list__item-link {% if request.path == active_category.get_absolute_url %}filter-list__item-link--active {% endif %}" href="{{ active_category.get_absolute_url }}">{% if items %} {{ shop_page.all }} {% endif %} {% if not items %}{{ shop_page.all }} {% endif %}</a>
                                        </li>
                                        {% if items or not items %}
                                            {% for i in subcategories %}
                                                <li class="filter-list__item">
                                                    <a class="filter-list__item-link {% if request.path == i.get_absolute_url %}filter-list__item-link--active {% endif %}" data-url="{{ request.path }}" href="{{ i.get_absolute_url }}">{{ i.name }}</a></li>
                                            {% endfor %}
                                        {% endif %}
                                    </ul>
                                </div>
                                {% if items %}
                                    <div class="c-filter__price">
                                        <select class="tabs-select form-select form-select--size_small js-form-select" onchange="if (this.value) window.location.href=this.value">
                                            
                                            <option value="?sort=alphabet" {% if query_param == 'alphabet' %}selected{% endif %}>{{ shop_page.alphabet }}</option>
                                            <option value="?sort=asc" {% if query_param == 'asc' %}selected{% endif %}>{{ shop_page.increase }}</option>
                                            <option value="?sort=desc" {% if query_param == 'desc' %}selected{% endif %}>{{ shop_page.decrease }}</option>
                                            <option value="?sort=popular" {% if query_param == 'popular' %}selected{% endif %}>{{ shop_page.popular }}</option>
                                            <option value="?sort=difficult" {% if query_param == 'difficult' %}selected{% endif %}>{{ shop_page.difficult }}</option>

                                        </select>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="tabs-content c-filter__tabs-content tabs-content--active">
                                <div class="catalog-list">
                                    <div class="catalog-list__row">
                                        {% if not items %}
                                            <div class="catalog-list__col"><p>{{ shop_page.no_items }}</p></div>
                                        {% endif %}
                                        {% for item in items %}
                                            {% if item.is_active %}
                                                <div class="catalog-list__col">
                                                    <div class="c-card c-card--model">
                                                        <a class="c-card__img-wrap" href="{{ item.get_absolute_url }}">
                                                            <div class="c-card__img-ratio">
                                                                {% if item.main_photo_xxl2.url %}
                                                                    <picture>
                                                                        <source media="(min-width: 1700px)" srcset="{{ item.main_photo_xxl.url }} 1x, {{ item.main_photo_xxl2.url }}2x">
                                                                        <img class="c-card__img" src="{{ item.main_photo_xs.url }}" srcset="{{ item.main_photo_xs2.url }}  2x" width="728" height="546" alt="">
                                                                    </picture>
                                                                {% endif %}
                                                            </div>
                                                        </a>
                                                        <div class="c-card__content">
                                                            <h3 class="c-card__title">
                                                                <a class="c-card__title-link" href="{{ item.get_absolute_url }}">{{ item.name }}</a>
                                                            </h3>
                                                            <div class="c-card__footer">
                                                                {% if currency == 'rub' %}
                                                                    <div class="price price--c-card">
                                                                        {#																	<div class="price__value price__value--old">2&nbsp;700<span class="price__unit">&nbsp;₽</span></div>#}
                                                                        <div class="price__value">{{ item.price_rub|price_space|unlocalize }}<span class="price__unit">&nbsp;₽</span></div>
                                                                    </div>
                                                                {% elif currency == 'usd' %}
                                                                    <div class="price price--c-card">
                                                                        {#																	<div class="price__value price__value--old">2&nbsp;700<span class="price__unit">&nbsp;₽</span></div>#}
                                                                        <div class="price__value">{{ item.price_usd|dollar_tag|unlocalize }}<span class="price__unit">&nbsp;$</span></div>
                                                                    </div>
                                                                {% elif currency == 'eur' %}
                                                                    <div class="price price--c-card">
                                                                        {#																	<div class="price__value price__value--old">2&nbsp;700<span class="price__unit">&nbsp;₽</span></div>#}
                                                                        <div class="price__value">{{ item.price_rub|euro_tag|unlocalize }}<span class="price__unit">&nbsp;€</span></div>
                                                                    </div>
                                                                {% endif %}
                                                                <div class="c-card__buttons">
                                                                    <!--todo: Если товар в сравнении, добавляем класс-модификатор btn-count--active у кнопки -->
                                                                    <button class="btn-count btn-count--short btn-count--card" type="button">
                                                                        <div class="btn-count__icon-wrap">
                                                                            <svg class="btn-count__icon" viewBox="0 0 32 25" width="32" height="25">
                                                                                <use xlink:href="{% static 'img/sprite.svg' %}#icon-compare"></use>
                                                                            </svg>
                                                                        </div>
                                                                        <span class="btn-count__title">{{ shop_page.compare }}</span>
                                                                    </button>
                                                                    <button class="btn-count btn-count--buy btn-count--card js-add-to-cart" type="button">
																		<span class="btn-count__icon-wrap">
																			<svg class="btn-count__icon" viewBox="0 0 22 19" width="22" height="19">
																				<use xlink:href="{% static 'img/sprite.svg' %}#icon-btn-cart"></use>
																			</svg>
																			<svg class="btn-count__icon" viewBox="0 0 22 19" width="22" height="19">
																				<use xlink:href="{% static 'img/sprite.svg' %}#icon-btn-cart-check"></use>
																			</svg>
																		</span>
                                                                        <span class="btn-count__title-wrap">
																			<span class="btn-count__title">{{ shop_page.cart }}</span>
																			<span class="btn-count__title">{{ shop_page.adding_cart }}</span>
																		</span>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    </div>
{% endblock %}