<select class="form-select form-select--switch visuallyhidden js-form-select"
        onchange="if (this.value) window.location.href=this.value">
    <!-- в value выводим ссылку с префиксом /ru/ -->
    <option value="{{ link_ru }}"
            {% if '/ru/' in request.path %}selected{% endif %}>₽
    </option>
    <option value="
            {% if '/fr/' in request.path %}{{ link_fr }}{% else %}{{ link_en }}{% endif %}"
            {% if '/en/' in request.path and currency == 'usd' or '/fr/' in request.path and currency == 'usd' %}selected{% endif %}>
        $
    </option>
    <!-- в value выводим ссылку с префиксом /en/ или /fr/ -->
    <option value="
            {% if '/fr/' in request.path %}{{ link_fr }}{% else %}{{ link_en }}{% endif %}?currency=eur"
            {% if '/en/' in request.path and currency == 'eur' or '/fr/' in request.path and currency == 'eur' %}selected{% endif %}>
        €
    </option>
</select>