{% extends 'base.html' %}
{% load static i18n l10n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% block content %}
    <main class="page__main">
        {% for i in contacts %}
            <section class="section section--fluid section--top">
                <div class="section__container">
                    <div class="section__row">
                        <div class="section__header">
                            <h1 class="main-title">{{ i.intro_title }}</h1>
                        </div>
                    </div>
                </div>
                <div class="photo-banner">
                    <div class="photo-banner__container">
                        <div class="photo-banner__row">
                            <div class="photo-banner__col">
                                {% if i.main_photo_xl2x %}
                                    <div class="photo-banner__img-wrap">
                                        <div class="photo-banner__img-ratio">
                                            <picture>
                                                <source media="(min-width: 1440px)" srcset="{{ i.main_photo_xl.url }} 1x, {{ i.main_photo_xl2x.url }} 2x">
                                                <source media="(min-width: 1024px)" srcset="{{ i.main_photo_md.url }} 1x, {{ i.main_photo_md2x.url }} 2x">
                                                <source media="(min-width: 768px)" srcset="{{ i.main_photo_sm.url }} 1x, {{ i.main_photo_sm2x.url }}">
                                                <source media="(min-width: 0)" srcset="{{ i.main_photo_xs.url }} 1x, {{ i.main_photo_xs2x.url }} 2x">
                                                <img class="photo-banner__img" src="{{ i.main_photo_xl1.url }}" srcset="{{ i.main_photo_xl12x.url }} 2x" alt="">
                                            </picture>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {% endfor %}
        <section class="section">
            <div class="section__container">
                <div class="section__row">
                    <div class="section__col">
                        <div class="contacts">
                            <div class="contacts__row">
                                {% for i in contacts %}
                                    <div class="contacts__content">
                                        <div class="contacts__text">
                                            <p>{{ i.address }}&nbsp;<a href="{{ i.map_link }}" target="_blank"><img src="{% static 'img/contacts-arrow.svg' %}" alt=""></a><br>
                                                {{ i.work_mode }}</p>
                                            <a href="tel:{{ i.first_phone }}">{{ i.first_phone }}</a><br>
                                            <a href="tel:{{ i.second_phone }}">{{ i.second_phone }}</a><br><br>
                                            <a href="mailto:{{ i.email }}">{{ i.email }}</a>
                                        </div>
                                        <div class="contacts__social">
                                            <ul class="c-social-list c-social-list--wrap">
                                                {% for item in i.contact_networks.all %}
                                                    <li class="c-social-list__item">
                                                        <a class="c-social-list__link" href="{{ item.social_network_url }}" target="_blank">
                                                            <div class="c-social-list__icon">
                                                                {% if item.social_network_type == '1' %}
                                                                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                    <circle cx="20" cy="20" r="20" fill="#4AC959"/>
                                                                    <path d="M9 31.0255L10.6108 25.3044C9.57496 23.5445 9.02958 21.5423 9.02958 19.4855C9.02958 13.1524 14.1818 8 20.5148 8C26.8478 8 32 13.1524 32 19.4855C32 25.8186 26.8478 30.971 20.5148 30.971C18.5415 30.971 16.6092 30.4659 14.8999 29.5067L9 31.0255ZM15.2015 27.4172L15.5531 27.6319C17.0434 28.5417 18.7592 29.0227 20.5148 29.0227C25.7736 29.0227 30.0517 24.7443 30.0517 19.4855C30.0517 14.2267 25.7736 9.94832 20.5148 9.94832C15.2561 9.94832 10.9779 14.2267 10.9779 19.4855C10.9779 21.3179 11.4986 23.0972 12.4837 24.6313L12.7205 24.9999L11.7929 28.2946L15.2015 27.4172Z"
                                                                          fill="white"/>
                                                                    <path d="M17.5141 14.208L16.7688 14.1674C16.5347 14.1546 16.3051 14.2328 16.1282 14.3865C15.7669 14.7002 15.1892 15.3067 15.0117 16.0971C14.7471 17.2756 15.1561 18.7186 16.2144 20.1617C17.2728 21.6048 19.2451 23.9137 22.7327 24.8998C23.8566 25.2176 24.7407 25.0033 25.4227 24.567C25.963 24.2215 26.3354 23.6669 26.4696 23.0398L26.5886 22.4842C26.6264 22.3074 26.5368 22.1283 26.3726 22.0527L23.854 20.8918C23.6905 20.8164 23.4965 20.864 23.3866 21.0066L22.3979 22.2883C22.3231 22.3851 22.1953 22.4235 22.0798 22.3829C21.4027 22.145 19.1344 21.1951 17.8899 18.7979C17.8359 18.6939 17.8493 18.5677 17.9259 18.479L18.8708 17.3859C18.9674 17.2743 18.9918 17.1174 18.9338 16.9817L17.8481 14.4418C17.7903 14.3066 17.6608 14.216 17.5141 14.208Z"
                                                                          fill="white"/>
                                                                </svg>
                                                                {% endif %}
                                                            </div>
                                                        </a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                {% endfor %}
                                <div class="contacts__callback">
                                    <div class="callback-form contacts__callback-form">
                                        <div class="callback-form__body">
                                            <h2 class="callback-form__title section-title">Письмо нам</h2>
                                            <form class="callback-form__form" action="#" method="POST">
                                                <div class="callback-form__form-inner">
                                                    <div class="input-wrap callback-form__input-wrap">
                                                        <input class="callback-form__input form-input" type="text" name="callback-name" id="callback-name" placeholder="Имя" required>
                                                    </div>
                                                    <div class="input-wrap callback-form__input-wrap">
                                                        <!--todo: ошибка валидации, - добавить класс invalid (пример): -->
                                                        <input class="callback-form__input invalid form-input" type="email" name="callback-email" id="callback-email" placeholder="Электронная почта" required>
                                                    </div>
                                                    <div class="input-wrap callback-form__input-wrap">
                                                        <input class="callback-form__input form-input" type="tel" name="callback-phone" id="callback-phone" placeholder="Телефон" required>
                                                    </div>
                                                    <div class="input-wrap callback-form__input-wrap">
                                                        <textarea class="callback-form__textarea form-textarea" name="callback-comment" id="callback-comment" placeholder="Сообщение"></textarea>
                                                    </div>
                                                </div>
                                                <div class="callback-form__captcha">
                                                    <!--todo: блок под google captcha -->
                                                </div>
                                                <div class="callback-form__btn-wrap">
                                                    <button class="callback-form__submit btn" type="submit">Отправить</button>
                                                </div>
                                            </form>
                                        </div>
                                        <!--todo: при успешной отправке показать: callback-form__success, скрыть: callback-form__body -->
                                        <div class="callback-form__success">
                                            <p>Спасибо, сообщение отправлено. Мы&nbsp;свяжемся с&nbsp;вами в&nbsp;ближайшее время.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    </div>
{% endblock %}