{% extends 'base.html' %}
{% block SEO %}
    <title>{{ index_main.title }}</title>
    <meta name="keywords" content="{{ index_main.keywords }}">
    <meta name="description" content="{{ index_main.description }}">
{% endblock %}
{% load static i18n l10n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% block content %}
    <main class="page__main">
        <section class="main-banner">
            {% if index_main.main_photo_xl2x %}
                <div class="main-banner__img-wrap">
                    <div class="main-banner__img-ratio">
                        <picture>
                            <source media="(min-width: 1440px)" srcset="{{ index_main.main_photo_xl.url }} 1x, {{ index_main.main_photo_xl2x.url }} 2x">
                            <source media="(min-width: 1024px)" srcset="{{ index_main.main_photo_md.url }} 1x, {{ index_main.main_photo_md2x.url }} 2x">
                            <source media="(min-width: 768px)" srcset="{{ index_main.main_photo_sm.url }} 1x, {{ index_main.main_photo_sm2x.url }} 2x">
                            <source media="(min-width: 0)" srcset="{{ index_main.main_photo_xs.url }} 1x, {{ index_main.main_photo_xs2x.url }} 2x">
                            <img class="main-banner__img" src="{{ index_main.main_photo_xl.url }}" srcset="{{ index_main.main_photo_xl2x.url }} 2x" alt="">
                        </picture>
                    </div>
                </div>
            {% endif %}
            <div class="main-banner__content-wrap">
                <div class="main-banner__container">
                    <div class="main-banner__row">
                        <div class="main-banner__col">
                            <div class="main-banner__content">
                                <h1 class="main-banner__title">{{ index_main.title_page }}</h1>
                                {% if index_main.title_text %}
                                    <p>{{ index_main.title_text }}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="intro">
            <div class="intro__container">
                <div class="intro__row">
                    <div class="intro__col">
                        <div class="intro__content">
                            <div class="intro__img-wrap">
                                <img class="intro__img" src="{% static 'img/logo--full.svg' %}" alt="Polygonal Paper">
                            </div>
                            <h2 class="intro__title section-title">{{ index_main.figure_title }}</h2>
                            <div class="intro__text">
                                <p>{{ index_main.figure_text }}</p>
                            </div>
                            <div class="intro__btn-wrap">
                                <a class="intro__btn btn-orb" href="{% url 'first_category_for_url' %}">Смотреть каталог</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="float-sticker float-sticker--deer">
                    {% if index_main.first_figure_sticker_xs2 %}
                        <div class="float-sticker__img-wrap">
                            <picture>
                                <img class="float-sticker__img" src="{{ index_main.first_figure_sticker_xs.url }}" srcset="{{ index_main.first_figure_sticker_xs2.url }} 2x" alt="{{ first_figure_button_name }}">
                            </picture>
                            <a class="float-sticker__btn btn-orb" href="{{ first_figure_button_link }}">{{ first_figure_button_name }}</a>
                        </div>
                    {% endif %}
                </div>
                <div class="float-sticker float-sticker--horse">
                    {% if index_main.second_figure_sticker_xs2 %}
                        <div class="float-sticker__img-wrap">
                            <picture>
                                <img class="float-sticker__img" src="{{ index_main.second_figure_sticker_xs.url }}" srcset="{{ index_main.second_figure_sticker_xs2.url }} 2x" alt="{{ second_figure_button_name }}">
                            </picture>
                            <a class="float-sticker__btn btn-orb" href="{{ second_figure_button_link }}">{{ second_figure_button_name }}</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </section>
        <section class="section">
            <div class="section__container">
                <div class="section__row">
                    <div class="section__col">
                        <h2 class="section-title section-title--theme_blue">{{ shop_page.shop }}</h2>
                        <div class="slider-wrapper">
                            <div class="catalog-slider__btn-prev swiper-button-prev swiper-button-prev--theme_gray js-catalog-slider-btn-prev"></div>
                            <div class="catalog-slider__btn-next swiper-button-next swiper-button-next--theme_gray js-catalog-slider-btn-next"></div>
                            <div class="catalog-slider swiper-container js-catalog-slider">
                                <div class="catalog-slider__wrapper swiper-wrapper">
                                    {% for i in categories %}
                                        {% if i.index_photo_xs2x %}
                                            <div class="catalog-slider__item swiper-slide">
                                                <div class="c-card">
                                                    <a class="c-card__img-wrap" href="{{ i.get_absolute_url }}">
                                                        <div class="c-card__img-ratio">
                                                            <picture>
                                                                <source media="(min-width: 1280px)" srcset="{{ i.index_photo_lg.url }} 1x, {{ i.index_photo_lg2x.url }} 2x">
                                                                <source media="(min-width: 768px)" srcset="{{ i.index_photo_sm.url }}, {{ i.index_photo_sm2x.url }} 2x">
                                                                <source media="(min-width: 0)" srcset="{{ i.index_photo_xs.url }} 1x, {{ i.index_photo_xs2x.url }} 2x">
                                                                <img class="c-card__img" src="{{ i.index_photo_xs.url }}" srcset="{{ i.index_photo_xs2x.url }} 2x" alt="{{ i.name }}">
                                                            </picture>
                                                        </div>
                                                    </a>
                                                    <div class="c-card__content">
                                                        <h3 class="c-card__title">
                                                            <a class="c-card__title-link" href="{{ i.get_absolute_url }}">{{ i.name }}</a>
                                                        </h3>
                                                        <div class="c-card__text text-content text-content--small">
                                                            <p>{{ i.index_text }}</p>
                                                        </div>
                                                        <a class="c-card__link" href="{{ i.get_absolute_url }}">{{ shop_page.shop }}</a>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="catalog-slider__pagination swiper-pagination js-catalog-slider-pagination"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="section__container">
                <div class="section__row">
                    <div class="section__col">
                        <div class="promo-lite">
                            <div class="promo-lite__row">
                                <div class="promo-lite__col">
                                    {% if index_main.proud_picture_xs2 %}
                                        <div class="promo-lite__img-wrap">
                                            <picture>
                                                <source media="(min-width: 0)" srcset="{{ index_main.proud_picture_xs.url }} 1x, {{ index_main.proud_picture_xs2.url }} 2x">
                                                <img class="promo-lite__img" src="{{ index_main.proud_picture_xs.url }}" srcset="{{ index_main.proud_picture_xs2.url }} 2x" alt="">
                                            </picture>
                                        </div>
                                    {% endif %}
                                    <h2 class="promo-lite__title">{{ index_main.proud_title }}</h2>
                                    {% if index_main.proud_text %}
                                        <div class="promo-lite__text text-content">
                                            <p>{{ index_main.proud_text }}</p>
                                        </div>
                                    {% endif %}
                                    <a class="download-link" href="{{ index_main.model_file.url }}" download="{{ index_main.title_link }}">
                                        <span class="download-link__title">{{ index_main.title_link }}</span>
                                        <span class="download-link__tip">
													<span class="download-link__tip-unit">{{ index_main.model_file|extension }}</span>,&nbsp;<span>{{ index_main.model_file.size|sizify:shop_page.megabyte }}</span>
												</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="float-sticker float-sticker--unicorn">
                    {% if index_main.third_figure_sticker_xs2 %}
                        <div class="float-sticker__img-wrap">
                            <picture>
                                <img class="float-sticker__img" src="{{ index_main.third_figure_sticker_xs2.url }}" srcset="{{ index_main.third_figure_sticker_xs2.url }} 2x" alt="{{ third_figure_button_name }}">
                            </picture>
                            <a class="float-sticker__btn btn-orb" href="{{ index_main.third_figure_button_link }}">{{ third_figure_button_name }}</a>
                        </div>
                    {% endif %}
                </div>
                <div class="float-sticker float-sticker--elephant">
                    {% if index_main.fourth_figure_sticker_xs2 %}
                        <div class="float-sticker__img-wrap">
                            <picture>
                                <img class="float-sticker__img" src="{{ index_main.fourth_figure_sticker_xs.url }}" srcset="{{ index_main.fourth_figure_sticker_xs2.url }} 2x" alt="">
                            </picture>
                            <a class="float-sticker__btn btn-orb" href="{{ index_main.fourth_figure_button_link }}">{{ index_main.fourth_figure_button_name }}</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </section>
        <section class="section">
            <div class="section__container">
                <div class="section__row">
                    <div class="section__col">
                        <div class="promo">
                            <div class="promo__bg-wrap">
                                <img class="promo__bg-img" src="{% static 'img/bg-logo.svg' %}" alt="">
                            </div>
                            <div class="promo__row">
                                <div class="promo__col">
                                    <h2 class="section-title section-title--theme_blue">{{ project_page.projects }}</h2>
                                    {% if project_page.promo_photo_md2x %}
                                        <div class="promo__img-wrap">
                                            <div class="promo__img-ratio">
                                                <picture>
                                                    <source media="(min-width: 1024px)" srcset="{{ project_page.promo_photo_md.url }} 1x, {{ project_page.promo_photo_md2x.url }} 2x">
                                                    <source media="(min-width: 0)" srcset="{{ project_page.promo_photo_xs.url }} 1x, {{ project_page.promo_photo_xs2x.url }} 2x">
                                                    <img class="promo__img" src="{{ project_page.promo_photo_md.url }}" srcset="{{ project_page.promo_photo_md2x.url }} 2x" alt="">
                                                </picture>
                                            </div>
                                        </div>
                                    {% endif %}
                                    <div class="promo__content">
                                        <ul class="promo-list">
                                            {% for value in points %}
                                                <li class="promo-list__item text-content text-content--small">
                                                    <p>{{ value.point }}</p>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                        <div class="promo__link-wrap">
                                            <a class="promo__link" href="{% url 'projects' %}">{{ project_page.last_projects }}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="section__container">
                <div class="section__row">
                    <div class="section__col">
                    {% if about_main.title_author %}
                        <h2 class="section-title">{{ about_main.title_author }}</h2>
                    {% endif %}
                        <div class="slider-wrapper slider-wrapper--dual">
                            <div class="d-slider">
                                <div class="d-slider__btn-prev swiper-button-prev"></div>
                                <div class="d-slider__btn-next swiper-button-next"></div>
                                <div class="d-slider-text d-slider__d-slider-text swiper-container js-d-slider-text">
                                    <div class="d-slider-text__wrapper swiper-wrapper">
                                        {% for i in about_main.about_authors.all %}

                                            <div class="d-slider-text__item swiper-slide">
                                                <div class="d-slider-text__row">
                                                    <div class="d-slider-text__col">
                                                        <div class="d-slider-text__content">
                                                            {% if i.full_name %}
                                                                <h3 class="d-slider-text__title">{{ i.full_name }}</h3>
                                                            {% endif %}
                                                            {% if i.position %}
                                                                <div class="d-slider-text__desc">{{ i.position }}</div>
                                                            {% endif %}
                                                            {% if i.text %}
                                                                <div class="d-slider-text__text text-content text-content--small">
                                                                    {% autoescape off %} {{ i.text }} {% endautoescape %}
                                                                </div>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="d-slider-img d-slider__d-slider-img swiper-container js-d-slider-img">
                                    <div class="d-slider-img__wrapper swiper-wrapper">
                                        {% for j in about_main.about_authors.all %}

                                        <div class="d-slider-img__item swiper-slide">
                                        {% if j.index_photo_lg2x %}
                                            <div class="d-slider-img__img-wrap">
                                                <div class="d-slider-img__img-ratio">
                                                    <picture>
                                                        <source media="(min-width: 1280px)" srcset="{{ j.index_photo_lg.url }} 1x, {{ j.index_photo_lg2x.url }}">
                                                        <source media="(min-width: 0)" srcset="{{ j.index_photo_xs.url }} 1x, {{ j.index_photo_xs2x.url }} 2x">
                                                        <img class="d-slider-img__img" src="{{ j.index_photo_lg.url }}" srcset="{{ j.index_photo_lg2x.url }} 2x" alt="">
                                                    </picture>
                                                </div>
                                            </div>
                                        {% endif %}
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="d-slider__pagination swiper-pagination"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="section__container">
                <div class="section__row">
                    <div class="section__col">
                        <div class="insta-gallery">
                            <div class="insta-gallery__row">
                                <div class="insta-gallery__col">
                                    <a class="insta-gallery__link" href="javascript:void(0);" target="_blank">
                                        <div class="insta-gallery__link-avatar">
                                            <picture>
                                                <source media="(min-width: 0)" srcset="{% static 'img/insta-gallery-avatar-img-01--xs.jpg' %} 1x, {% static 'img/insta-gallery-avatar-img-01--xs@2x.jpg 2x' %}">
                                                <img class="insta-gallery__link-avatar-img" src="{% static 'img/insta-gallery-avatar-img-01--xs.jpg' %}" srcset="{% static 'img/insta-gallery-avatar-img-01--xs@2x.jpg' %} 2x" alt="">
                                            </picture>
                                        </div>
                                        <div class="insta-gallery__link-title">@polygonal_paper</div>
                                    </a>
                                    <ul class="insta-list">
                                        <li class="insta-list__item">
                                            <a class="insta-list__link" href="javascript:void(0);" target="_blank">
                                                <div class="insta-list__img-wrap">
                                                    <picture>
                                                        <source media="(min-width: 768px)" srcset="{% static 'img/insta-list-img-01--sm.jpg' %} 1x, {% static 'img/insta-list-img-01--sm@2x.jpg' %} 2x">
                                                        <source media="(min-width: 0)" srcset="{% static 'img/insta-list-img-01--xs.jpg' %} 1x, {% static 'img/insta-list-img-01--xs@2x.jpg' %} 2x">
                                                        <img class="insta-list__img" src="{% static 'img/insta-list-img-01--xs.jpg' %}" srcset="{% static 'img/insta-list-img-01--xs@2x.jpg' %} 2x" alt="">
                                                    </picture>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="insta-list__item">
                                            <a class="insta-list__link" href="javascript:void(0);" target="_blank">
                                                <div class="insta-list__img-wrap">
                                                    <picture>
                                                        <source media="(min-width: 768px)" srcset="{% static 'img/insta-list-img-02--sm.jpg' %} 1x, {% static 'img/insta-list-img-02--sm@2x.jpg' %} 2x">
                                                        <source media="(min-width: 0)" srcset="{% static 'img/insta-list-img-02--xs.jpg' %} 1x, {% static 'img/insta-list-img-02--xs@2x.jpg' %} 2x">
                                                        <img class="insta-list__img" src="{% static 'img/insta-list-img-02--xs.jpg' %}" srcset="{% static 'img/insta-list-img-02--xs@2x.jpg' %} 2x" alt="">
                                                    </picture>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="insta-list__item">
                                            <a class="insta-list__link" href="javascript:void(0);" target="_blank">
                                                <div class="insta-list__img-wrap">
                                                    <picture>
                                                        <source media="(min-width: 768px)" srcset="{% static 'img/insta-list-img-03--sm.jpg' %} 1x, {% static 'img/insta-list-img-03--sm@2x.jpg' %} 2x">
                                                        <source media="(min-width: 0)" srcset="{% static 'img/insta-list-img-03--xs.jpg' %} 1x, {% static 'img/insta-list-img-03--xs@2x.jpg' %} 2x">
                                                        <img class="insta-list__img" src="{% static 'img/insta-list-img-03--xs.jpg' %}" srcset="{% static 'img/insta-list-img-03--xs@2x.jpg' %} 2x" alt="">
                                                    </picture>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="insta-list__item">
                                            <a class="insta-list__link" href="javascript:void(0);" target="_blank">
                                                <div class="insta-list__img-wrap">
                                                    <picture>
                                                        <source media="(min-width: 768px)" srcset="{% static 'img/insta-list-img-04--sm.jpg' %} 1x, {% static 'img/insta-list-img-04--sm@2x.jpg' %} 2x">
                                                        <source media="(min-width: 0)" srcset="{% static 'img/insta-list-img-04--xs.jpg' %} 1x, {% static 'img/insta-list-img-04--xs@2x.jpg' %} 2x">
                                                        <img class="insta-list__img" src="{% static 'img/insta-list-img-04--xs.jpg' %}" srcset="{% static 'img/insta-list-img-04--xs@2x.jpg' %} 2x" alt="">
                                                    </picture>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="insta-list__item">
                                            <a class="insta-list__link" href="javascript:void(0);" target="_blank">
                                                <div class="insta-list__img-wrap">
                                                    <picture>
                                                        <source media="(min-width: 768px)" srcset="{% static 'img/insta-list-img-05--sm.jpg' %} 1x, {% static 'img/insta-list-img-05--sm@2x.jpg' %} 2x">
                                                        <source media="(min-width: 0)" srcset="{% static 'img/insta-list-img-05--xs.jpg' %} 1x, {% static 'img/insta-list-img-05--xs@2x.jpg' %} 2x">
                                                        <img class="insta-list__img" src="{% static 'img/insta-list-img-05--xs.jpg' %}" srcset="{% static 'img/insta-list-img-05--xs@2x.jpg' %} 2x" alt="">
                                                    </picture>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="insta-list__item">
                                            <a class="insta-list__link" href="javascript:void(0);" target="_blank">
                                                <div class="insta-list__img-wrap">
                                                    <picture>
                                                        <source media="(min-width: 768px)" srcset="{% static 'img/insta-list-img-06--sm.jpg' %} 1x, {% static 'img/insta-list-img-06--sm@2x.jpg' %} 2x">
                                                        <source media="(min-width: 0)" srcset="{% static 'img/insta-list-img-06--xs.jpg' %} 1x, {% static 'img/insta-list-img-06--xs@2x.jpg' %} 2x">
                                                        <img class="insta-list__img" src="{% static 'img/insta-list-img-06--xs.jpg' %}" srcset="{% static 'img/insta-list-img-06--xs@2x.jpg' %} 2x" alt="">
                                                    </picture>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="insta-list__item">
                                            <a class="insta-list__link" href="javascript:void(0);" target="_blank">
                                                <div class="insta-list__img-wrap">
                                                    <picture>
                                                        <source media="(min-width: 768px)" srcset="{% static 'img/insta-list-img-07--sm.jpg' %} 1x, {% static 'img/insta-list-img-07--sm@2x.jpg' %} 2x">
                                                        <source media="(min-width: 0)" srcset="{% static 'img/insta-list-img-07--xs.jpg' %} 1x, {% static 'img/insta-list-img-07--xs@2x.jpg' %} 2x">
                                                        <img class="insta-list__img" src="{% static 'img/insta-list-img-07--xs.jpg' %}" srcset="{% static 'img/insta-list-img-07--xs@2x.jpg' %} 2x" alt="">
                                                    </picture>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="insta-list__item">
                                            <a class="insta-list__link" href="javascript:void(0);" target="_blank">
                                                <div class="insta-list__img-wrap">
                                                    <picture>
                                                        <source media="(min-width: 768px)" srcset="{% static 'img/insta-list-img-08--sm.jpg' %} 1x, {% static 'img/insta-list-img-08--sm@2x.jpg' %} 2x">
                                                        <source media="(min-width: 0)" srcset="{% static 'img/insta-list-img-08--xs.jpg' %} 1x, {% static 'img/insta-list-img-08--xs@2x.jpg' %} 2x">
                                                        <img class="insta-list__img" src="{% static 'img/insta-list-img-08--xs.jpg' %}" srcset="{% static 'img/insta-list-img-08--xs@2x.jpg' %} 2x" alt="">
                                                    </picture>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    </div>
{% endblock %}