{% extends 'base.html' %}
{% load static i18n l10n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% block content %}
    <main class="page__main">
        <section class="section section--fluid section--top">
            <div class="section__container">
                <div class="section__row">
                    <div class="section__header">
                        <h1 class="main-title">{{ project_pages.name }}</h1>
                        <div class="section__text">
                            {% autoescape off %} {{ project_pages.text }} {% endautoescape %}
                        </div>
                    </div>
                    <div class="section__col">
                        {% for i in project_lists %}
                            {% if i.first_display %}
                                <div class="project-intro js-gallery">
                                    <div class="project-intro__row">
                                        <div class="project-intro__col">
                                            <div class="photo-card">
                                                {% if i.main_photo.url %}
                                                    <a class="photo-card__link js-gallery-base" href="{{ i.main_photo.url }}" data-fancybox="gallery-1">
                                                        <div class="photo-card__img-wrap">
                                                            <div class="photo-card__img-ratio">
                                                                <picture>
                                                                    <source media="(min-width: 768px)" srcset="{{ i.main_photo_sm.url }} 1x, {{ i.main_photo_sm2x.url }} 2x">
                                                                    <source media="(min-width: 0)" srcset="{{ i.main_photo_sm.url }} 1x, {{ i.main_photo_sm2x.url }}">
                                                                    <img class="photo-card__img" src="{{ i.main_photo_xs.url }}" srcset="{{ i.main_photo_xs2.url }} 2x" alt="">
                                                                </picture>
                                                            </div>
                                                        </div>
                                                    </a>
                                                {% endif %}
                                                {% for item in i.gallery_images.all %}
                                                    <div class="photo-card__gallery">
                                                        <a class="photo-card__gallery-link" href="{{ item.main_photo.url }}" data-fancybox="gallery-1"></a>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="project-intro__desc">
                                            <a class="project-intro__link js-gallery-trigger" href="#">{{ i.name }}</a>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}

                    </div>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="section__container">
                <div class="section__row">
                    <div class="section__header">
                        <div class="section-title section-title--theme_blue">{{ shop_page.another_projects }}</div>
                    </div>
                    <div class="section__col">
                        <ul class="project-list">
                            {% for j in project_lists %}
                            {% with gallery_num=forloop.counter %}
                                {% if not j.first_display %}
                                    <li class="project-list__item">
                                        <div class="project-list__card">
                                            {% if j.main_photo %}
                                                <div class="photo-card">
                                                    <a class="photo-card__link" href="{{ j.main_photo.url }}" data-fancybox="gallery-{{ gallery_num }}">
                                                        <div class="photo-card__img-wrap">
                                                            <div class="photo-card__img-ratio">
                                                                <picture>
                                                                    <img class="photo-card__img" src="{{ j.main_photo_xs.url }}" srcset="{{ j.main_photo_xs2x.url }} 2x" alt="">
                                                                </picture>
                                                            </div>
                                                        </div>
                                                        <h3 class="photo-card__title">{{ j.name }}</h3>
                                                    </a>
                                                    {% for value in j.gallery_images.all %}
                                                        <div class="photo-card__gallery">
                                                            <a class="photo-card__gallery-link" href="{{ value.main_photo.url }}" data-fancybox="gallery-{{ gallery_num }}"></a>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                                </div>
                                            {% endif %}
                                    </li>
                                {% endif %}
                            {% endwith %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </main>
    </div>
{% endblock %}