{% extends 'base.html' %}
{% load static i18n l10n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% block content %}
    <main class="page__main">
        <section class="section section--fluid section--top">
            <div class="section__container">
                <div class="section__row">
                    {% for i in project_items %}
                        <div class="section__header">
                            <h1 class="main-title">{{ i.name }}</h1>
                            <div class="section__text">
                                {% autoescape off %} {{ i.text }} {% endautoescape %}
                            </div>
                        </div>
                    {% endfor %}
                    <div class="section__col">
                        <div class="project-intro js-gallery">
                            <div class="project-intro__row">
                                {% for i in project_lists %}
                                    {% if i.first_display %}
                                        <div class="project-intro__col">
                                            <div class="photo-card">
                                                {% if i.product_original_img %}
                                                    <a class="photo-card__link js-gallery-base" href="{{ i.product_original_img.url }}" data-fancybox="gallery-1">
                                                {% endif %}
                                                <div class="photo-card__img-wrap">
                                                    <div class="photo-card__img-ratio">
                                                        <picture>
                                                            <source media="(min-width: 768px)" srcset="{{ i.product_original_img.url  }} 1x, {{ i.product_original_img.url }} 2x">
                                                            <source media="(min-width: 0)" srcset="{{ i.main_photo_sm.url }} 1x, {{ i.main_photo_sm2x.url }}">
                                                            <img class="photo-card__img" src="{{ i.main_photo_xs.url }}" srcset="{{ i.main_photo_xs2.url }} 2x" alt="">
                                                        </picture>
                                                    </div>
                                                </div>
                                                </a>
                                                <div class="photo-card__gallery">
                                                    <a class="photo-card__gallery-link" href="{{ i.main_photo_sm.url }}" data-fancybox="gallery-1"></a>
                                                    <a class="photo-card__gallery-link" href="{{ i.main_photo_sm2x.url }}" data-fancybox="gallery-1"></a>
                                                    <a class="photo-card__gallery-link" href="{{ i.main_photo_xs.url }}" data-fancybox="gallery-1"></a>
                                                    <a class="photo-card__gallery-link" href="{{ i.main_photo_xs2x.url }}" data-fancybox="gallery-1"></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="project-intro__desc">
                                            <a class="project-intro__link js-gallery-trigger" href="#">{{ i.name }}</a>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="section__container">
                <div class="section__row">
                    <div class="section__header">
                        <div class="section-title section-title--theme_blue">{{ shop_page.another_projects }}</div>
                    </div>
                    <div class="section__col">
                        <ul class="project-list">
                        {% for i in project_lists %}
                            <li class="project-list__item">
                                <div class="project-list__card">
                                    <div class="photo-card">
                                        <a class="photo-card__link" href="{% if i.product_original_img %}{{ i.product_original_img.url }}{% endif %}" data-fancybox="gallery-2">
                                            <div class="photo-card__img-wrap">
                                                <div class="photo-card__img-ratio">
                                                    <picture>
                                                        <img class="photo-card__img" src="{{ i.main_photo_xs.url }}" srcset="{{ i.main_photo_xs2x.url }} 2x" alt="">
                                                    </picture>
                                                </div>
                                            </div>
                                            <h3 class="photo-card__title">{{ i.name }}</h3>
                                        </a>
                                        <div class="photo-card__gallery">
                                            <a class="photo-card__gallery-link" href="{{ i.main_photo_sm.url }}" data-fancybox="gallery-2"></a>
                                            <a class="photo-card__gallery-link" href="{{ i.main_photo_sm2x.url }}" data-fancybox="gallery-2"></a>
                                            <a class="photo-card__gallery-link" href="{{ i.main_photo_xs.url }}" data-fancybox="gallery-2"></a>
                                            <a class="photo-card__gallery-link" href="{{ i.main_photo_xs2x.url }}" data-fancybox="gallery-2"></a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}

                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </main>
    </div>
{% endblock %}